<% include header.html %>

<div class="container my-2">
    <div class="row g-2">
        <form class="form-floating">
            <div class="mx-auto col-lg-4 text-center">
                <div class="input-group  " >
                <input type="text" list="tenis" class="form-control" placeholder="Pesquise um produto"  aria-required="true"   id="find-input"  aria-placeholder="find-icon" >
                
                <datalist id="tenis"  >
                  <option>Nike</option>
                  <option>Adidas</option>
                  <option>Asics</option>
                  <option>Diadora</option>
                  <option>Reebok</option>
                  <option>Olympikus</option>
                  <option>Puma</option>
                  <option>Oxto</option>
                </datalist>
                
                <button  type="submit"  class="input-group-text" >
                  <span class="input-group" style="border: none;"></span><i class="fas fa-search" id="find-icon" ></i> </span>
                </button>
               
                
                </div>
            </div>
        </form>
        
    </div>
</div>
<div class="container my-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="container-md-4">
                <div class="row">
                    <div class="col-sm-4"><nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item " ><a href="/">NextTênis</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/produtos">Produtos</a> </li>
                      </ol>
                    </nav>

                    </div>
                </div>
            </div> 
            
        <div class="container-md-8">
            <div class="row py-2">
                <div class="card-group">
                  
                    <div class="card bg-light  " style="width: 20rem;padding:10px; margin: 5px;">
                        <a href="detalhes.html"> <img  src="/images/produtos/mizuno preto.jpg"  class="card-img-top py-2" alt="Tênis" ></a>
                     <div class="card-body ">
                      <h5 class="card-title">Tênis aleatório</h5>
                      <p class="card-text">Tênis para ser usado em qualquer lugar e horário</p>
                      <p class="card-text price-old"><s>De: R$ 690,00 por:</s> </p>
                      <h5 class="card-title price">R$ 599,00 á vista no boleto</h5>
                      <p class="price-card">Ou em 10X de R$ 59,99 sem juros</p>
                       <a class="btn  w-100  btn-buy btn-font" href="detalhes.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
                     </div>  
                    </div>

                    <div class="card bg-light" style="width: 20rem;padding:10px; margin: 5px;">
                        <a href="detalhes.html"> <img  src="/images/produtos/mizuno preto.jpg"  class="card-img-top py-2" alt="Tênis" ></a>
                        <div class="card-body">
                          <h5 class="card-title">Tênis aleatório</h5>
                          <p class="card-text">Tênis para ser usado em qualquer lugar e horário</p>
                          <p class="card-text price-old"><s>De: R$ 690,00 por:</s> </p>
                          <h5 class="card-title price">R$ 599,00 á vista no boleto</h5>
                          <p class="price-card">Ou em 10X de R$ 59,99 sem juros</p>
                           <a class="btn  w-100  btn-buy btn-font" href="detalhes.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
                         </div>  
                       </div>

                       <div class="card bg-light" style="width: 20rem;padding:10px; margin: 5px;">
                        <a href="detalhes.html"> <img  src="/images/produtos/mizuno preto.jpg"  class="card-img-top py-2" alt="Tênis" ></a>
                        <div class="card-body ">
                            <h5 class="card-title">Tênis aleatório</h5>
                            <p class="card-text">Tênis para ser usado em qualquer lugar e horário</p>
                            <p class="card-text price-old"><s>De: R$ 690,00 por:</s> </p>
                            <h5 class="card-title price">R$ 599,00 á vista no boleto</h5>
                            <p class="price-card">Ou em 10X de R$ 59,99 sem juros</p>
                             <a class="btn  w-100  btn-buy btn-font" href="detalhes.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
                         </div>  
                       </div>
                       <div class="card bg-light" style="width: 20rem;padding:10px; margin: 5px;">
                        <a href="detalhes.html"> <img  src="/images/produtos/mizuno preto.jpg"  class="card-img-top py-2" alt="Tênis" ></a>
                        <div class="card-body ">
                          <h5 class="card-title">Tênis aleatório</h5>
                          <p class="card-text">Tênis para ser usado em qualquer lugar e horário</p>
                          <p class="card-text price-old"><s>De: R$ 690,00 por:</s> </p>
                          <h5 class="card-title price">R$ 599,00 á vista no boleto</h5>
                          <p class="price-card">Ou em 10X de R$ 59,99 sem juros</p>
                           <a class="btn  w-100  btn-buy btn-font" href="detalhes.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
                             
                         </div>  
                       </div>

                </div>
            </div>
            <div class="row py-2">
              <div class="card-group">
                  
                <div class="card bg-light  " style="width: 20rem;padding:10px; margin: 5px;">
                    <a href="detalhes.html"> <img  src="/images/produtos/mizuno preto.jpg"  class="card-img-top py-2" alt="Tênis" ></a>
                 <div class="card-body ">
                  <h5 class="card-title">Tênis aleatório</h5>
                  <p class="card-text">Tênis para ser usado em qualquer lugar e horário</p>
                  <p class="card-text price-old"><s>De: R$ 690,00 por:</s> </p>
                  <h5 class="card-title price">R$ 599,00 á vista no boleto</h5>
                  <p class="price-card">Ou em 10X de R$ 59,99 sem juros</p>
                   <a class="btn  w-100  btn-buy btn-font" href="detalhes.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
                 </div>  
                </div>

                <div class="card bg-light" style="width: 20rem;padding:10px; margin: 5px;">
                    <a href="detalhes.html"> <img  src="/images/produtos/mizuno preto.jpg"  class="card-img-top py-2" alt="Tênis" ></a>
                    <div class="card-body">
                      <h5 class="card-title">Tênis aleatório</h5>
                      <p class="card-text">Tênis para ser usado em qualquer lugar e horário</p>
                      <p class="card-text price-old"><s>De: R$ 690,00 por:</s> </p>
                      <h5 class="card-title price">R$ 599,00 á vista no boleto</h5>
                      <p class="price-card">Ou em 10X de R$ 59,99 sem juros</p>
                       <a class="btn  w-100  btn-buy btn-font" href="detalhes.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
                     </div>  
                   </div>

                   <div class="card bg-light" style="width: 20rem;padding:10px; margin: 5px;">
                    <a href="detalhes.html"> <img  src="/images/produtos/mizuno preto.jpg"  class="card-img-top py-2" alt="Tênis" ></a>
                    <div class="card-body ">
                        <h5 class="card-title">Tênis aleatório</h5>
                        <p class="card-text">Tênis para ser usado em qualquer lugar e horário</p>
                        <p class="card-text price-old"><s>De: R$ 690,00 por:</s> </p>
                        <h5 class="card-title price">R$ 599,00 á vista no boleto</h5>
                        <p class="price-card">Ou em 10X de R$ 59,99 sem juros</p>
                         <a class="btn  w-100  btn-buy btn-font" href="detalhes.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
                     </div>  
                   </div>
                   <div class="card bg-light" style="width: 20rem;padding:10px; margin: 5px;">
                    <a href="detalhes.html"> <img  src="/images/produtos/mizuno preto.jpg"  class="card-img-top py-2" alt="Tênis" ></a>
                    <div class="card-body ">
                      <h5 class="card-title">Tênis aleatório</h5>
                      <p class="card-text">Tênis para ser usado em qualquer lugar e horário</p>
                      <p class="card-text price-old"><s>De: R$ 690,00 por:</s> </p>
                      <h5 class="card-title price">R$ 599,00 á vista no boleto</h5>
                      <p class="price-card">Ou em 10X de R$ 59,99 sem juros</p>
                       <a class="btn  w-100  btn-buy btn-font" href="detalhes.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
                         
                     </div>  
                   </div>

            </div>

            </div>
        </div>
    </div>
    </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-md-4 mx-auto"></div>
    <div class="col-md-4 mx-auto">   
    <nav  aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" > <a class="page-link" href="#">Anterior</a> </li>
        <li class="page-item" > <a class="page-link" href="#">1</a> </li>
        <li class="page-item" > <a class="page-link" href="#">2</a></li>
        <li class="page-item" > <a class="page-link" href="#">3</a></li>
        <li class="page-item" > <a class="page-link" href="#">4</a></li>
        <li class="page-item" > <a class="page-link" href="#">5</a></li>
        <li class="page-item" > <a class="page-link" href="#">Próximo</a></li>
      </ul>
    </nav></div>
    <div class="col-md-4 mx-auto"></div>

  </div>
</div>

<% include footer.html %>