<% include header.html %>

<div class="pai">
  <div class="tennis1">
    <img class="mizuno1" src="/images/produtos/1.jpg" alt="tennis azul" />
  </div>
  <div class="descricao">
    <h2 class="titulo1">Tennis Corrida-Caminhada</h2>
    <p>Marca: Mizuno</p>
    <p>Modelo: Wave Sky 3</p>
    <p>Cor: Preto</p>
    <p>Tamanho: 40</p>
    <p>Genero: Masculino</p>
    <p>Estilo-Esporte: Corrida</p>
    <p>Preço: <em>R$ 240,00</em></p>
  </div>
</div>

<% include footer.html %>
