<% include header.html %>

    <form action="/login" method="POST">
        <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
        <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha">
        <button type="submit">Enviar</button>
    </form>

<% include footer.html %>


