<%- include('./partials/header') %>

<div class="container_pai_produtos">
  <% for (let index=0; index < cadprod.length ; index++) { %> <% include
  card2.ejs %> <% } %>
</div>

<%- include('./partials/footer') %>
