<%- include('./partials/header') %>

    <div class="sobre_texto">
        <div class="sobre_texto_titulo">
            Sobre nós
        </div>

        <div class="sobre_texto_detalhe">
            Next Tennis é o maior e-commerce especializado em tênis do Brasil. Fundada em 2021 por estudantes do curso de
            Desenvolvimento Web Full Stack da conceituada escola Digital House, é uma loja on-line especializado em tênis que
            atendem todas as suas necessidades, desde uma simples caminhada em seus momentos de lazer ou caminhada, até
            modelos sofisticados e tecnológicos que atendem ao mais exigente atleta profissional, praticante de qualquer
            esporte.
        </div>

    </div>

  <div class="detalhe_sobre_pai">
    <div class="detalhe_sobre_filho">
      <p>
      <h4>Missão</h4>Inspirar e transformar a vida das pessoas através do Esporte e Lazer</p>
    </div>

    <div class="detalhe_sobre_filho">
      <p><h4>Visão</h4>Oferecer a melhor experiência de compra de um tênis ao consumidor</p>
    </div>
 
    <div class="detalhe_sobre_filho">
      <p>
      <h4>Valores</h4>Adrenalina, Espírito de Equipe, Inspiração e Foco</p>
    </div>
  </div>

  <div><img class="contatos_sobre" src="/images/sobre_contatos.jpg" alt=""></div>

  <%- include('./partials/footer') %>