<%- include('../partials/header_restrito') %>

<main role="main" class="container">
    <h1 class="mt-5">Seja bem-vindo a Home Page</h1>
    <p class="lead">Você está na área logada.</p>    
</main>

<%- include('../partials/footer') %>