<%- include('../partials/header_restrito') %>

<div class="area_central">
    <main role="main" class="container">
        <h1 class="mt-5">Administração do Site</h1>
        <h3 class="mt-5">Seja bem-vindo!</h3>
        <p class="lead">Você está na área logada.</p>
        <img src="/images/usuario_logado.jpeg" alt=""> 
    </main>
</div>

<%- include('../partials/footer') %>